.ourwork {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.8)
    ),
    url("../../Assets/img/photo2.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ourwork p {
  font-size: 20px;
  width: 50%;
  text-align: center;
  margin-top: 10px;
}
