.support {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("../../Assets/photo11.jpg") center center/cover no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 90px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.support p {
  margin: auto;
  width: 60%;
  margin-top: 5px;
  font-size: 20px;
  text-align: justify;
}
.support__wrapper {
  margin-bottom: 50px;
  margin-top: 20px;
}

@media screen and (max-width: 960px) {
  .support p {
    width: 90%;
  }
}
