:root {
  --primary: #fff;
  --secondary: #242424;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  width: 200px;
  max-width: 300px;
  margin: 10px 0px;
  text-decoration: none;
}

.btn-white {
  background: #fffff7;
  color: #242424;
  border: 1px solid var(--primary);
}

.btn-red {
  background: rgb(160, 44, 44);
  color: #fff;
  border: 1px solid rgb(160, 44, 44);
}

.btn-outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
}

.btn-outline-black {
  background-color: transparent;
  color: var(--secondary);
  padding: 8px 20px;
  border: 1px solid var(--secondary);
}

.btn-medium {
  padding: 8px 20px;
  font-size: 20px;
}

.btn-large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn-white:hover {
  background: rgba(255, 255, 255, 0.7);
  color: #242424;
  border: 1px solid #fff;
}
.btn-outline:hover {
  color: #242424;
  background: #fff;
}
.btn-red:hover {
  background: rgba(160, 44, 44, 0.5);
  color: #fff;
  border: 1px solid rgba(160, 44, 44, 0.5);
}

.btn-outline-black:hover {
  background: #242424;
  color: #fff;
  border: 1px solid #fff;
}

@media (max-width: 599px) {
}

@media (min-width: 600px) {
  .btn {
    margin: 10px 20px;
  }
}

@media (min-width: 900px) {
}
@media (min-width: 1200px) {
}

@media (min-width: 1800px) {
}
