.panel {
  height: 100%;
  max-width: 100vw;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.panel * {
  margin: 10px 10px 30px 10px;
}

.panel-white {
  background: white;
  color: #242424;
}

.panel-black {
  background-color: #242424;
  color: #fff;
}

.panel-image {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("../Assets/photo1.jpg") center center/cover no-repeat;
  display: flex;
  background-attachment: fixed;
}

.panel-image-red {
  background: linear-gradient(
      to bottom,
      rgba(160, 44, 44, 0.4),
      rgba(160, 44, 44, 0.8)
    ),
    url("../Assets/Photo14.jpeg") center center/cover no-repeat;
  display: flex;
  background-attachment: fixed;
}

.panel-header {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.panel-header-fade {
  opacity: 0.7;
}
.panel-header-white {
  color: #fff;
  text-transform: uppercase;
  font-size: clamp(2rem, 5vw, 3rem);
  text-align: center;
}

.panel-text-red {
  color: rgb(160, 44, 44);
}

.panel-text {
  font-size: clamp(1.75rem, 3.25vw, 2.25rem);
  padding-top: 20px;
  z-index: 1;
}

.panel-text-left {
  text-align: left;
}

.panel-text-small {
  font-size: clamp(1.5rem, 3vw, 2rem);
  line-height: 150%;
  max-width: 1000px;
}

.panel-text-white {
  color: #fff;
}

.panel-text-em {
  font-style: italic;
}

.panel-icon {
  color: white;
  font-size: 50px;
  margin: 10px;
}
.panel-underline-white {
  border-bottom: 6px #fff solid;
  margin-bottom: 20px;
}

.panel-underline-red {
  border-bottom: 6px rgb(160, 44, 44) solid;
  margin-bottom: 20px;
}

.panel-button-white {
  font-size: 20px;
  background-color: transparent;
  border-radius: 2px;
  padding: 12px 26px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
}

.panel-photo {
  width: 90%;
  max-width: 500px;
  border-radius: 20px;
  margin: auto;
}

@media (max-width: 599px) {
}

@media (min-width: 600px) {
}

@media (min-width: 900px) {
  .panel-text-small {
    margin: 10px 100px 30px 100px;
    text-align: left;
  }

  .panel-text {
    text-align: left;
    margin: 10px 100px 30px 100px;
  }
}
@media (min-width: 1200px) {
}

@media (min-width: 1800px) {
}
