* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.about,
.ourwork,
.support,
.volunteer {
  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
}

.about {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url("./Assets/photo9.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about p {
  font-size: 20px;
  width: 50%;
}
.ourwork {
  background-image: url("./Assets/photo2.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.support {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("./Assets/photo11.jpg") center center/cover no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 90px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.support p {
  margin: auto;
  width: 60%;
  margin-top: 20px;
  font-size: 20px;
}

.volunteer {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("./Assets/photo12.jpeg") center center/cover no-repeat;
  /*  background-position: 0px -50px; */
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.volunteer h4 {
  font-size: 50px;
}

.volunteer_card_wrapper {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.volunteer_card_wrapper .cards__item {
  object-fit: contain;
  margin-right: 10px;
  min-height: 0;
}

.support--btn {
  font-size: 20px;
  background-color: transparent;
  border-radius: 2px;
  padding: 12px 26px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  margin: 6px;
}

.support--btn:hover {
  background: #fff;
  color: #242424;
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 960px) {
  .volunteer {
    background-position: center;
  }

  .volunteer {
    font-size: 70px;
  }
  .about p {
    width: 90%;
  }

  .support p {
    width: 90%;
  }
}
